# Core
pandas==2.3.1
numpy==2.3.2
scikit-learn==1.7.1
matplotlib==3.10.5
altair==5.5.0
joblib==1.5.1
PyYAML==6.0.2

# App
streamlit==1.48.1
shap==0.48.0

# NLP
transformers==4.44.2
tokenizers==0.19.1        # wheel dispo en Py 3.12
torch==2.8.0
sentencepiece==0.2.1

# HTTP
requests==2.32.4

# .env
python-dotenv==1.1.1

# Hugging Face
huggingface_hub[cli]==0.34.4

# Optionnel en runtime (commente si non utilisé par l'app)
# datasets==2.20.0
# evaluate==0.4.5
